<div class="controls">
    {{input value=dataStructureSize}}
    <button {{action "clear"}}>Clear</button>
    <button {{action "run"}}>Run</button>
</div>

<div class="render-method">
    Rendering Method:
    <div class="recursive">
        {{input type="checkbox" checked=recursiveRenderSelected disabled=true}}
        <label {{action "selectRecursive"}}>Recursive</label>
    </div>
    <div class="iterative">
        {{input type="checkbox" checked=iterativeRenderSelected disabled=true}}
        <label {{action "selectIterative"}}>Iterative</label>
    </div>
</div>

<div class="render-pane">
    <div class="label">{{renderPaneLabel}}</div>

    {{#if recursiveRenderSelected}}
        {{recursive-render}}
    {{/if}}

    {{#if iterativeRenderSelected}}
        {{iterative-render}}
    {{/if}}
</div>