<div class="controls">
    {{input value=dataStructureSize}}
    <button {{action "clear"}}>Clear</button>
    <button {{action "run"}}>Run</button>
</div>

<div class="render-method">
    Rendering Method:
    <div class="recursive">
        {{input type="checkbox" checked=recursiveRenderSelected action=selectRecursive}}
        <label {{action "selectRecursive"}}>Recursive</label>
    </div>
    <div class="iterative">
        {{input type="checkbox" checked=iterativeRenderSelected action=selectIterative}}
        <label {{action "selectIterative"}}>Iterative</label>
    </div>
</div>

