<div class="elapsed">
    {{#if renderTime}}
        Time to render: {{renderTime}}ms
    {{else}}
        &nbsp;
    {{/if}}
</div>

<div class="controls">
    <div>
        {{input value=dataStructureSize placeholder="entity count"}}
    </div>
    <button {{action "clear"}}>Clear</button>
    <button {{action "run"}}>Run</button>
</div>

<div class="render-method">
    Rendering Method:
    <div class="recursive">
        {{input type="checkbox" checked=recursiveRenderSelected disabled=true}}
        <label {{action "selectRender" "recursive"}}>Recursive</label>
    </div>
    <div class="iterative">
        {{input type="checkbox" checked=iterativeRenderSelected disabled=true}}
        <label {{action "selectRender" "iterative"}}>Iterative</label>
    </div>
    <div class="custom">
        {{input type="checkbox" checked=customRenderSelected disabled=true}}
        <label {{action "selectRender" "custom"}}>Custom</label>
    </div>
</div>

<div {{bind-attr class=":render-pane itemCountBreakover"}}>
    <div class="label">Render method: {{renderMethod}}</div>

    {{#if recursiveRenderSelected}}
        {{recursive-color item=recursiveDataStructure}}
    {{/if}}

    {{#if iterativeRenderSelected}}
        {{#each item in iterativeDataStructure}}
            {{iterative-color item=item}}
        {{/each}}
    {{/if}}

    {{#if customRenderSelected}}
        {{custom-color items=iterativeDataStructure}}
    {{/if}}
</div>
