<div class="elapsed">
    {{#if renderTime}}
        Time to render: {{renderTime}}ms
    {{else}}
        &nbsp;
    {{/if}}
</div>

<div class="controls">
    <div>
        {{input value=dataStructureSize placeholder="entity count"}}
    </div>
    <button {{action "clear"}}>Clear</button>
    <button {{action "run"}}>Run</button>
    <button {{action "addFront"}}>+1 Front</button>
    <button {{action "addEnd"}}>+1 End</button>
</div>

<div class="render-method">
    Rendering Method:
    <div class="iterative">
        {{input type="checkbox" checked=iterativeRenderSelected disabled=true}}
        <label {{action "selectRender" "iterative"}}>Iterative</label>
    </div>
    <div class="recursive">
        {{input type="checkbox" checked=recursiveRenderSelected disabled=true}}
        <label {{action "selectRender" "recursive"}}>Recursive</label>
    </div>
    <div class="custom">
        {{input type="checkbox" checked=customRenderSelected disabled=true}}
        <label {{action "selectRender" "custom"}}>Custom</label>
    </div>
    <div class="cached">
        {{input type="checkbox" checked=cachedRenderSelected disabled=true}}
        <label {{action "selectRender" "cached"}}>Cached</label>
    </div>
</div>

<div {{bind-attr class=":render-pane itemCountBreakover"}}>
    <div class="label">Render method: {{renderMethod}}</div>

    {{#if recursiveRenderSelected}}
        {{recursive-color item=data}}
    {{/if}}

    {{#if iterativeRenderSelected}}
        {{#each item in data}}
            {{iterative-color item=item}}
        {{/each}}
    {{/if}}

    {{#if customRenderSelected}}
        {{custom-color items=data}}
    {{/if}}

    {{#if cachedRenderSelected}}
        {{cached-color items=data}}
    {{/if}}
</div>
